@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 1rem;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 2fr;
}


header h1 {
    font-family: "Big Shoulders Stencil Text", cursive, sans-serif;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 1rem;
}

.field {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.playerField,
.aiField {
    height: 22rem;
    width: 30rem;

    display: flex;
    flex-wrap: wrap;
}


.cell {
    width: 10%;
    height: 10%;
    border: 1px solid black;
}

.cell.ship {
    background-color: aquamarine;
}

/****************  place ship screen  ********************/

.placeShips {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.placeShips h1 {
    font-family: cursive, sans-serif;
    font-size: 5rem;
    color: white;
    z-index: 12;
}

.rotate {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    outline: none;
    transition: transform .3s ease-in-out, filter .3s ease-in-out;
}

.rotate:hover {
    filter: brightness(110%);
    transform: scale(105%);
}

.rotate:active {
    filter: brightness(90%);
    transform: scale(90%);
}

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

.placeShips.hide {
    display: none;
}

.placeShips .cell {
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.placeShips .cell.hovered {
    background-color: rgba(0, 0, 255, .4);
    cursor: pointer;
}

.placeShips .cell.ship {
    background-color: blue;
}

.placeShips .cell.invalid {
    background-color: rgba(255, 0, 0, .4);
    cursor: not-allowed;
    position: relative;
}

.cell.invalid::before,
.cell.invalid::after {
    content: "";
    background-color: black;
    width: 2px;
    height: 120%;
    position: absolute;
}

.cell.invalid::before {
    transform: rotate(45deg)
}

.cell.invalid::after {
    transform: rotate(-45deg)
}

/*********** battle effects  ***************/
.aiField .cell:hover {
    cursor: pointer;
    background-color: rgba(177, 233, 177, .5);
}

.aiField .cell.hit,
.aiField .cell.miss {
    pointer-events: none
}

.cell.miss {
    background-color: rgb(177, 233, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.miss::after {
    content: "";
    display: block;
    background-color: black;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.cell.hit {
    background-color: rgb(223, 101, 101);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.hit::before,
.cell.hit::after,
.cell.sunk::before,
.cell.sunk::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    height: 8px;
}

.cell.hit::before {
    transform: rotate(55deg);
}

.cell.hit::after {
    transform: rotate(-55deg);
}

.cell.sunk::before,
.cell.sunk::after {
    width: 2px;
    height: 155%;
}

/***************** game end *********************/

.gameEnd {
    display: none;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.announceWinner {
    font-family: 'Tektur', cursive;
    color: white;
    font-style: italic;
    font-size: 6rem;
    text-align: center;
    margin-top: 6rem;
}